section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 2em 0em;
    gap: 3em 0;


    .header {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
        margin: 1em auto;
        color: #fff;

        h1 {
            font-size: min(8vw, 45pt);
        }
    }

    .contentContainer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: fit-content;
        justify-content: center;

        .card {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 100%;
            background-color: #fff;
            border-radius: 20px;
            padding: 1.5em;
            gap: 1em;

            .imageContainer {
                position: relative;
                display: flex;
                width: 100%;
                height: fit-content;
                background-color: rgba(254, 135, 0, 255);
                border-radius: 20px;
                overflow: hidden;
                border: 2px solid rgba(254, 135, 0, 255);

                img {
                    position: relative;
                    display: flex;
                    width: 100%;
                    max-width: 30vw !important;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .textContainer {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                min-height: 140px;
                height: fit-content;
                gap: .2em;
                margin-top: auto;

                p {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                }

                .title {
                    font-size: 20pt;
                    line-height: 35px;
                    text-transform: capitalize;
                }

                .description {
                    font-size: 12pt;
                    min-height: 75px;
                }

                .teach {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: fit-content;
                    margin-top: .5em;

                    .createdBy {
                        width: 100%;
                        height: auto;
                        padding: .5em 0;
                        font-size: 12pt;
                        align-items: center;
                        gap: .5em;
                        font-weight: 600;
                        text-align: center;
                        border-bottom: 1px solid rgba(254, 135, 0, 255);
                        border-top: 1px solid rgba(254, 135, 0, 255);

                        svg {
                            min-width: 30px;
                            font-size: 15pt;
                        }
                    }

                    .platform {
                        width: 100%;
                        height: auto;
                        padding: .5em 0;
                        font-size: 12pt;
                        align-items: center;
                        gap: .5em;
                        font-weight: 600;
                        border-bottom: 1px solid rgba(254, 135, 0, 255);

                        svg {
                            min-width: 30px;
                            font-size: 15pt;
                        }
                    }
                }


            }
        }
    }
}

@media(max-width: 1200px) {
    .contentContainer {
        padding: 0 1em !important;
        max-height: 650px !important;

        .card {
            max-height: 650px !important;

            .imageContainer {
                max-height: 300px !important;
            }
        }
    }
}