section.formContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 2em 0em;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.insideContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex: 1 1 50%;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

.insideContainer:nth-child(1) {
    padding: 5em;
}

.insideContainer:nth-child(1) img {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    object-fit: contain;
    filter: drop-shadow(5px 50px 200px #222);
}

.mainDiv {
    padding: 3em;
    background: #fff !important;
    border-radius: 20px;
}

form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 30px;

    .footer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: .5em;

        button,
        .cancel {
            display: flex;
            font-size: 15pt;
            width: 100%;
            height: fit-content;
            text-decoration: none;
            color: inherit;
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
            padding: .5em 2em;
            border: none;
            transition: all .1s ease-in-out;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            gap: 7px;
            transition: all .1s ease-in-out;

            &:hover {
                opacity: .5;
                transition: all .1s ease-in-out;
            }

            &.submit {
                background-color: rgba(254, 135, 0, 255);
            }

            &.cancel {
                background-color: red;
            }

            &.nextStep {
                background-color: limegreen;

                svg {
                    font-size: 25pt;
                }

                &.disabled {
                    opacity: .5;
                    cursor: no-drop;
                }
            }
        }

        .messages {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: .5em;
            margin-top: .5em;
        }

        .auxErrorMessage {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            border: 3px solid rgba(254, 135, 0, 255);
            border-radius: 10px;
            padding: 1em;
            gap: .3em;

            .title {
                color: rgba(254, 135, 0, 255);
                font-weight: 600;
                margin-bottom: .5em;
                font-size: 14pt;
            }
        }
    }
}

form>h1 {
    font-size: 45pt;
    color: rgb(210, 124, 24);
}

form>button {
    display: flex;
    font-size: 15pt;
    width: 100%;
    height: fit-content;
    text-decoration: none;
    color: inherit;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(254, 135, 0, 255);
    padding: .5em 2em;
    border: none;
    margin-top: 10px;
    transition: all .1s ease-in-out;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 7px;
    transition: all .1s ease-in-out;
}

form>button:hover {
    opacity: .5;
    transition: all .1s ease-in-out;
}

.inputGroup {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 5px;

    select {
        position: relative;
        display: flex;
        font-size: 14pt;
        width: 100%;
        height: fit-content;
        border-radius: 10px;
        border: 1px solid #999;
        padding: 0.5em;
        background-color: #f2f2f2;
        color: #222;
    }

    .noData{
        color: #222;
        font-size: 12pt;
    }
}

.inputGroup label {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-size: 20pt;
    font-weight: 600;
    color: rgb(210, 124, 24);
}

.inputGroup label input,
.inputGroup label textarea {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(210, 124, 24);
    font-size: 15pt;
    font-weight: 300;
    padding: .2em .2em;
}

.inputGroup label textarea {
    border: 2px solid rgb(210, 124, 24);
    border-radius: 10px;
    resize: vertical;
    min-height: 150px;
    height: 150px;
    max-height: 200px;
}