header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    min-height: 15vh;
    background-color: transparent;
    padding: 0 8em;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    font-weight: bold;
    top: 0;
    left: 0;
    transition: all .1s ease-in-out;
}

header.active {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-height: fit-content;
    background-color: #fff;
    padding: 1em 5em;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    font-weight: bold;
    top: 10px;
    left: 50%;
    border-radius: 20px;
    width: calc(100vw - 13em);
    z-index: 999;
    transform: translateX(-50%);
    box-shadow: rgb(38, 57, 77) 0px 20px 20px -20px;
    transition: all .1s ease-in-out;
}

header.active nav .linksContainer ul li {
    color: rgba(254, 135, 0, 255);
}

header nav {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

nav .logoContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
}

nav .logoContainer p {
    color: rgba(254, 135, 0, 255);
    font-size: 25pt;
}

nav .linksContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
}

nav .linksContainer ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

nav .linksContainer ul li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-weight: 500;
}

nav .linksContainer ul li a {
    color: inherit;
    text-decoration: none;
}

nav .linksContainer ul li a:hover {
    opacity: .5;
}