.Python {
    color: #3572A5;
}

.PHP {
    color: #4F5D95;
}

.Javascript {
    color: #F7DF1E;
}

.Typescript {
    color: #007ACC;
}

.SQL {
    color: #FF4500;
}

.HTML {
    color: #E34C26;
}

.CSS {
    color: #264DE4;
}

.Java {
    color: #007396;
}

.React {
    color: #61DAFB;
}

.Angular {
    color: #DD0031;
}

.Django {
    color: #092E20;
}

.SpringBoot {
    color: #6DB33F;
}

.Express {
    color: #000000;
}

.Laravel {
    color: #FF2D20;
}

.Vue {
    color: #42B883;
}

.Flask {
    color: #000000;
}

.MySQL {
    color: #4479A1;
}

.SqlServer {
    color: #CC2927;
}

.PostgreSQL {
    color: #336791;
}

.MongoDB {
    color: #4DB33D;
}

.OracleDatabase {
    color: #F80000;
}

.SQLite {
    color: #003B57;
}

.Redis {
    color: #DC382D;
}