main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 85vh;
    background-color: transparent;
    padding: 2em 0em;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    font-weight: bold;
}

main .imageContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
}

main .imageContainer img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(5px 50px 200px #222);
}

main .landingContentContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    flex: 0 1 50%;
    justify-content: center;
    align-items: center;
}

main .landingContentContainer .insideLandingContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.insideLandingContent h2 {
    font-size: 45pt;
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-weight: 300;
    line-height: 80px;
    pointer-events: none;
}

.insideLandingContent h2 span {
    font-size: 45pt;
    width: fit-content;
    height: fit-content;
    color: rgba(254,135,0,255);
    font-weight: 700;
}

.insideLandingContent h6 {
    font-size: 15pt;
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-weight: 300;
    margin-top: 5px;
    pointer-events: none;
}

.insideLandingContent p {
    font-size: 25pt;
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-weight: 300;
    margin-bottom: -10px;
    pointer-events: none;
}

.insideLandingContent a {
    font-size: 13pt;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: inherit;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(254,135,0,255);
    padding: 1em 2em;
    margin-top: 30px;
    border: 2px solid #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all .1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insideLandingContent a svg{
    margin-left: 7px;
    font-size: 20pt;
}

.insideLandingContent a:hover{
    transition: all .1s ease-in-out;
    transform: scale(.9);
    box-shadow: rgb(38, 57, 77) 0px 5px 30px -10px;
}