.projectsContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 2em 0em;
    gap: 3em 0;
}

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    margin: 1em auto;
    color: #fff;
}

.header h1 {
    font-size: 45pt;
}

.contentContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 1%;
}