.projectsContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 2em 0em;
    gap: 3em 0;
}

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    margin: 1em auto;
    color: #fff;
}

.header h1 {
    font-size: 45pt;
}

.searchForProjectContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .searchBar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        gap: 0;

        input {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            height: 50px;
            font-size: 14pt;
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 5px 0 0 5px;
            padding: .5em;

            &::placeholder {
                color: #999;
            }
        }

        button {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            width: 50px;
            height: 50px;
            font-size: 14pt;
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 0 5px 5px 0;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            &:hover{
                background: #fff;
                opacity: 1;
            }

            svg {
                position: relative;
                display: flex;
                font-size: 18pt;
                fill: #aaa !important;
                color: #aaa !important;
            }
        }
    }

    .filterContainer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 1em;

        .title {
            font-size: 30pt;
            color: rgb(254, 135, 0);
        }

        .topic {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: fit-content;
            height: fit-content;

            h4 {
                color: #aaa;
                font-weight: 400;
                margin-bottom: .2em;
            }

            .itemsContainer {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: fit-content;
                gap: .5em;

                .item {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    height: fit-content;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    padding: .5em 1em;
                    align-items: center;
                    gap: .5em;
                    cursor: pointer;
                    transition: all .1s ease-in-out;

                    &:hover{
                        opacity: .5;
                        transition: all .1s ease-in-out;
                    }

                    &.active {
                        border: 2px solid rgb(254, 135, 0);

                        .icon {
                            color: rgb(254, 135, 0);
                        }

                        p {
                            color: rgb(254, 135, 0);
                        }
                    }

                    .icon {
                        position: relative;
                        display: flex;
                        width: fit-content;
                        height: fit-content;
                        color: #fff;
                    }

                    p {
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .messages {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        height: fit-content;

        .message {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            width: 400px;
            height: fit-content;
            background-color: #fff;
            border-radius: 5px;
            padding: 1em;
            gap: 1em;
            justify-content: center;
            align-items: center;

            .icon {
                position: relative;
                display: flex;
                width: 10%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 18pt;
            }

            .text {
                position: relative;
                display: flex;
                width: 90%;
                height: 100%;
                font-size: 14pt;
                justify-content: center;
                align-items: center;
                font-weight: 400;
            }
        }
    }
}

.contentContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 1%;
}