section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: 2em 0em;
    gap: 3em 0;
}

.header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin: 1em auto;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 45pt;
}

.contentContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 30px 1.5%;

    .containerTech{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: inherit;
        height: fit-content;

        h1{
            margin-bottom: .5em;
        }
    }

    .noData{
        width: 100%;
        color: #999;
        font-size: 20pt;
    }
}

.subTitle {
    position: relative;
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 30pt !important;
    font-weight: 700;
}

.examples {
    position: relative;
    display: flex;
    height: inherit;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 3em;
    cursor: pointer;
}