.techCard {
    position: relative;
    display: flex;
    height: 300px;
    background-color: #fff;
    width: calc(100%/3);
    flex: 0 1 calc((100%/3) - 1%);
    border-radius: 20px;
}

.techCard>div {
    flex: 1 1 50%;
    width: 50%;
}

.iconContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.iconContainer>.insideIconContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.iconContainer>.insideIconContainer img {
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.iconContainer>.insideIconContainer p {
    font-size: 20pt;
    margin-top: 5px;
    color: orange;
    font-weight: 700;
    text-align: center;
}

.infoContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.infoContainer>.insideInfoContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 1em;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.infoContainer>.insideInfoContainer .extraDescription {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12pt;
    font-weight: 600;
    gap: 5px;
}

.infoContainer>.insideInfoContainer .extraDescription span {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.infoContainer>.insideInfoContainer .generalInfo {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: auto;
}

.infoContainer>.insideInfoContainer .generalInfo h2 {
    position: relative;
    display: flex;
    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.infoContainer>.insideInfoContainer .generalInfo p {
    position: relative;
    display: flex;
    font-size: 40pt;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    color: #fff;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infoContainer>.insideInfoContainer .actions {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: auto;
}

.infoContainer>.insideInfoContainer .actions button {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    color: orange;
    font-size: 13pt;
    font-weight: 600;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    transition: all .1s ease-in-out;
}

.infoContainer>.insideInfoContainer .actions button:hover {
    transition: all .1s ease-in-out;
    gap: 10px;
}

.infoContainer>.insideInfoContainer .actions button svg {
    font-size: 17pt;
}