.mainNumberContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;

    .dataCard {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        flex: 0 1 24%;
        background-color: #fff;
        border-radius: 20px;
        padding: 2em;
        font-weight: 500;

        .title {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: fit-content;
            min-height: 72px;
            align-items: center;
            justify-content: space-between;

            p {
                width: min-content;
                height: min-content;
                font-size: 18pt;
                font-weight: 600;
                color: rgba(254, 135, 0, 255);
            }

            .icon {
                position: relative;
                display: flex;
                height: 40px;
                width: 40px;

                svg {
                    font-size: 30pt;
                    fill: rgba(254, 135, 0, 255);
                    border: 2px solid rgba(254, 135, 0, 255);
                    border-radius: 50%;
                    padding: 5px;
                }
            }
        }

        .data {
            position: relative;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            font-size: 90pt;
            font-weight: 700;
            color: rgba(254, 135, 0, 255);
            height: calc(100% - 70px);
            align-items: center;
            justify-content: center;
        }
    }
}

.graphicsContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    height: fit-content;

    .mainGraphicsDivision {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: fit-content;
        gap: 1em;

        .graphic {
            position: relative;
            display: flex;
            width: 50%;
            height: fit-content;
            padding: 1em;
            background-color: #fff;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
        }
    }
}

@media(max-width: 1200px) {
    .mainNumberContainer {
        flex-direction: column !important;
        gap: 1em !important;

        .title {
            p {
                width: fit-content !important;
            }
        }
    }

    .mainGraphicsDivision {
        flex-direction: column !important;
        gap: 1em !important;

        .graphic {
            width: 100% !important;
        }
    }
}