.container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: #fff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

    p {
        color: rgba(254, 135, 0, 255);
        font-size: 25pt;
        font-weight: 700;
    }
}