* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scrollbar-color: rgba(254, 135, 0, 255) #03036C;
    scrollbar-width: thin !important;
}

#root {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    padding-right: 8em;
    padding-left: 8em;
}

::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}

::-webkit-scrollbar-track-piece {
    background-color: #03036C;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: rgba(254, 135, 0, 255);
}

body {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    background-image: linear-gradient(to right, #0404B7, #03036C);
}

.skeleton {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
    border-radius: 20px;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}